# python environment
/my_env

# python init
__init__.py
dashboard/__init__.py
sections/__init__.py

# python cache
sections/air_quality/__pycache__
sections/bike_sharing/__pycache__
sections/public_ecommerce/__pycache__
dashboard/__pycache__

# file
note.ipynb
note.py
nltk_data

# raw data
dataset/air_quality
dataset/bike_sharing
dataset/public_ecommerce

# process data
datamart
etl/temp

# .env
.env.secret
.env.shared